*/*/*.d
*/*/*.o
*/*/megaphone
*/*/phonebook
*/*/zombie
*/*/account
*/*/program
*/*/harl
*/*/harlFilter
*/*/fixed
*/*/claptrap
*/*/scavtrap
*/*/fragtrap
*/*/diamondtrap
*/*/animal
*/*/materia
*/*/bureau
*/*/cast
*/*/serializer
*/*/base
*/*/whatever
*/*/iter
*/*/array
*/*/easyfind
*/*/span
*/*/stack
*/*/btc
*/*/RPN
*.o
*.d
.DS_Store
.vscode