*/*/*.d
*/*/*.o
*/*/megaphone
*/*/phonebook
*/*/zombie
*/*/account
*/*/program
*/*/harl
*/*/harlFilter
*/*/fixed
*/*/claptrap
*/*/scavtrap
*/*/fragtrap
*/*/diamondtrap
*/*/animal
*/*/materia
*.o
*.d
.DS_Store
.vscode